/*Fade In*/

@-webkit-keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/*Slide Left*/

@-webkit-keyframes slide-left {
    100% { right: 40px; }
}

@keyframes slide-left {
    100% { right: 40px; }
}

/*Slide Left Subtitle*/

@-webkit-keyframes slide-left-2 {
    100% { right: 0; }
}

@keyframes slide-left-2 {
    100% { right: 0; }
}
