@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("animations.css");
#myNavbar {
  opacity: 0;
  -webkit-animation: fadein 3s 1 forwards;
  /* Safari 4+ */
  -moz-animation: fadein 3s 1 forwards;
  /* Fx 5+ */
  -o-animation: fadein 3s 1 forwards;
  /* Opera 12+ */
  animation: fadein 3s 1 forwards;
  /* IE 10+, Fx 29+ */
  -webkit-animation-delay: 3s;
  animation-delay: 3s; }

#logo {
  height: 28px; }

#texto {
  font-size: 100px; }

body {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  margin: 0;
  padding: 0; }

fieldset, img {
  border: 0; }

.animateFadeIn {
  -webkit-animation: fadein 5s 1;
  /* Safari 4+ */
  -moz-animation: fadein 5s 1;
  /* Fx 5+ */
  -o-animation: fadein 5s 1;
  /* Opera 12+ */
  animation: fadein 5s 1;
  /* IE 10+, Fx 29+ */ }

#content0 {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-size: cover; }
  #content0 .backPhoto {
    position: relative;
    overflow: hidden;
    height: 100vh;
    background: url("../images/tienda-1-1.jpg") no-repeat center top fixed;
    background-size: cover; }
  #content0 .title {
    width: 30vw;
    position: absolute;
    right: -80vh;
    bottom: 14vh;
    -webkit-animation: fadeInUp 0.5s forwards;
    -webkit-animation-delay: 3s;
    -webkit-animation: fadeInUp 2s forwards;
    animation: fadeInUp 2s forwards;
    animation-delay: 3s;
    opacity: 1; }
  #content0 .subtitle {
    width: 20vw;
    font-size: 1.5vw;
    position: absolute;
    bottom: 10vh;
    right: -80vh;
    color: white;
    -webkit-animation: fadeInUp 0.5s forwards;
    -webkit-animation-delay: 3.3s;
    -webkit-animation: fadeInUp 2s forwards;
    animation: fadeInUp 2s forwards;
    -webkit-animation-delay: 3s;
    animation-delay: 3s; }
  #content0 #down {
    height: 60px;
    position: absolute;
    bottom: 5vh;
    right: 50vw;
    opacity: 0;
    -webkit-animation: fadein 3s 1 forwards;
    /* Safari 4+ */
    -moz-animation: fadein 3s 1 forwards;
    /* Fx 5+ */
    -o-animation: fadein 3s 1 forwards;
    /* Opera 12+ */
    animation: fadein 3s 1 forwards;
    /* IE 10+, Fx 29+ */
    -webkit-animation-delay: 5s;
    animation-delay: 5s; }
  @media (max-width: 991.98px) {
    #content0 .title {
      width: 32vw;
      bottom: 22vh; }
    #content0 .subtitle {
      font-size: 2vw;
      width: 300px; } }
  @media (max-width: 767.98px) {
    #content0 .title {
      width: 300px;
      bottom: 22vh; }
    #content0 .subtitle {
      width: 300px;
      font-size: 20px;
      bottom: 16vh; } }

#content1 {
  position: relative;
  overflow: hidden;
  display: inline-block;
  background-size: cover;
  width: 100%;
  height: 115vh; }
  #content1 #titulo {
    position: absolute;
    top: 9vh;
    color: black;
    font-size: 7vh;
    font-weight: bold; }
  #content1 .arti {
    position: relative;
    font-size: 18px;
    color: black;
    top: 25vh; }
  #content1 .photo {
    background: url("../images/principal-3.jpg") no-repeat center center;
    position: relative;
    overflow: hidden;
    top: 21vh;
    height: 50vh;
    background-size: cover; }

#content11 {
  position: relative;
  overflow: hidden;
  display: inline-block;
  background-size: cover;
  width: 100%;
  /* Create four equal columns that sits next to each other */
  /* Responsive layout - makes a two column-layout instead of four columns */
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */ }
  #content11 #titulo {
    position: absolute;
    top: 9vh;
    color: black;
    font-size: 7vh;
    font-weight: bold; }
  #content11 .arti {
    position: relative;
    font-size: 18px;
    color: black;
    top: 25vh; }
  #content11 .row {
    display: -ms-flexbox;
    /* IE10 */
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    padding-top: 160px; }
  #content11 .column {
    -ms-flex: 25%;
    /* IE10 */
    -webkit-box-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px; }
    #content11 .column img {
      margin-top: 8px;
      margin-bottom: 8px;
      vertical-align: middle; }
    #content11 .column .title {
      text-align: center;
      font-weight: bold;
      font-size: 20px; }
    #content11 .column .subtitle {
      text-align: center; }
  @media screen and (max-width: 800px) {
    #content11 .column {
      -ms-flex: 50%;
      -webkit-box-flex: 50%;
      flex: 50%;
      max-width: 50%; } }
  @media screen and (max-width: 600px) {
    #content11 .column {
      -ms-flex: 100%;
      -webkit-box-flex: 100%;
      flex: 100%;
      max-width: 100%; } }

#content12 {
  position: relative;
  overflow: hidden;
  display: inline-block;
  background-size: cover;
  width: 100%; }
  #content12 #titulo {
    position: absolute;
    top: 9vh;
    color: black;
    font-size: 7vh;
    font-weight: bold; }
  #content12 .arti {
    position: relative;
    font-size: 18px;
    color: black;
    top: 25vh; }
  #content12 .instaimg img {
    margin-bottom: 30px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  #content12 .instaimg img:hover {
    opacity: 0.8;
    -moz-opacity: 0.8;
    -webkit-opacity: 0.8;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  #content12 .container-fluid {
    padding-top: 200px; }

#content21 {
  position: relative;
  overflow: hidden;
  display: inline-block;
  background-size: cover;
  width: 100%;
  height: 115vh; }
  #content21 #titulo {
    position: absolute;
    top: 9vh;
    color: black;
    font-size: 7vh;
    font-weight: bold; }
  #content21 .arti {
    position: relative;
    font-size: 18px;
    color: black;
    top: 25vh; }
  #content21 .photo {
    background: url("../images/marcos-1.jpg") no-repeat top center;
    position: relative;
    overflow: hidden;
    top: 21vh;
    height: 400px;
    background-size: cover; }

#content22 {
  position: relative;
  overflow: hidden;
  display: inline-block;
  background-size: cover;
  width: 100%;
  height: 115vh; }
  #content22 #titulo {
    position: absolute;
    top: 9vh;
    color: black;
    font-size: 7vh;
    font-weight: bold; }
  #content22 .arti {
    position: relative;
    font-size: 18px;
    color: black;
    top: 25vh; }
  #content22 .photo {
    background: url("../images/espejos.jpg") no-repeat center center;
    position: relative;
    overflow: hidden;
    top: 21vh;
    height: 400px;
    background-size: cover; }

#content23 {
  position: relative;
  overflow: hidden;
  display: inline-block;
  background-size: cover;
  width: 100%;
  height: 115vh; }
  #content23 #titulo {
    position: absolute;
    top: 9vh;
    color: black;
    font-size: 7vh;
    font-weight: bold; }
  #content23 .arti {
    position: relative;
    font-size: 18px;
    color: black;
    top: 25vh; }
  #content23 .photo {
    background: url("../images/escaparate-2.jpg") no-repeat center center;
    position: relative;
    overflow: hidden;
    top: 21vh;
    height: 50vh;
    background-size: cover; }

.swiper-container p {
  color: white;
  bottom: 0;
  margin-bottom: 0; }

.swiper-container strong {
  color: white;
  bottom: 0; }

#content24 {
  position: relative;
  overflow: hidden;
  display: inline-block;
  background-size: cover;
  width: 100%;
  height: 115vh; }
  #content24 #titulo {
    position: absolute;
    top: 9vh;
    color: black;
    font-size: 7vh;
    font-weight: bold; }
  #content24 .arti {
    position: relative;
    font-size: 18px;
    color: black;
    top: 25vh; }
  #content24 .photo {
    background: url("../images/tienda-2-2.jpg") no-repeat center center;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    top: 21vh;
    height: 50vh;
    background-size: cover; }

#content3 {
  position: relative;
  overflow: hidden;
  display: inline-block;
  background-size: cover;
  width: 100%;
  height: 115vh; }
  #content3 #titulo {
    position: absolute;
    top: 9vh;
    color: black;
    font-size: 7vh;
    font-weight: bold; }
  #content3 .arti {
    position: relative;
    font-size: 18px;
    color: black;
    top: 25vh; }
  #content3 .photo {
    background: url("../images/servicios-1.jpg") no-repeat bottom center;
    position: relative;
    overflow: hidden;
    top: 21vh;
    height: 55vh;
    background-size: cover; }

#content4 {
  position: relative;
  overflow: hidden;
  display: inline-block;
  background-size: cover;
  width: 100%;
  width: 100%;
  /* Create two equal columns that sits next to each other */
  /* Responsive layout - makes a one column-layout instead of two columns */ }
  #content4 #titulo {
    position: absolute;
    top: 9vh;
    color: black;
    font-size: 7vh;
    font-weight: bold; }
  #content4 .arti {
    position: relative;
    font-size: 18px;
    color: black;
    top: 25vh; }
  #content4 .arti2 {
    padding-top: 5vh;
    position: relative;
    color: black; }
  #content4 .row {
    display: -ms-flexbox;
    /* IE10 */
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    padding-top: 140px;
    padding-bottom: 70px;
    height: 800px; }
  #content4 .column {
    -ms-flex: 50%;
    /* IE10 */
    -webkit-box-flex: 50%;
    flex: 50%;
    max-width: 50%;
    padding: 0 4px; }
    #content4 .column #map, #content4 .column p {
      margin-top: 8px;
      margin-bottom: 8px;
      vertical-align: middle;
      width: 100%;
      height: 100%; }
    #content4 .column p {
      padding-top: 0;
      margin-top: 0; }
    #content4 .column .negrita {
      color: black;
      font-weight: 700; }
    #content4 .column #inst {
      color: #8a3ab9; }
    #content4 .column #fb {
      color: #3b5998; }
    #content4 .column #li {
      color: #0077BB; }
    #content4 .column .fab {
      font-size: 40px; }
  @media screen and (max-width: 800px) {
    #content4 {
      padding-left: 8px; }
      #content4 .row {
        padding-top: 100px;
        height: 1100px;
        font-size: 15px; }
      #content4 .column {
        -ms-flex: 100%;
        -webkit-box-flex: 100%;
        flex: 100%;
        max-width: 100%; }
      #content4 #map {
        bottom: 0px; }
      #content4 #column1 {
        height: 600px; }
      #content4 #column2 {
        height: 360px; } }

footer {
  height: 10vh;
  color: white;
  text-align: center; }

@media (max-width: 991.98px) {
  #content1, #content21, #content22, #content23, #content24, #content3 {
    height: 115vh; }
    #content1 .arti, #content21 .arti, #content22 .arti, #content23 .arti, #content24 .arti, #content3 .arti {
      padding-left: 1.35rem;
      padding-right: 1.35rem;
      font-size: 17px; }
  #logo {
    height: 23px; }
  .pl-5 {
    padding-left: 0rem; }
  .ml-5 {
    margin-left: 0rem; }
  .pr-5 {
    padding-right: 0rem; }
  .mr-5 {
    margin-right: 0rem; } }

.redes {
  padding-top: 20px;
  padding-right: 3rem; }
  .redes i {
    font-size: 20px;
    padding-right: 0.3em; }

.pie {
  height: 50px;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .pie .lumarc {
    padding-top: 20px;
    padding-left: 3rem; }
  .pie a {
    color: white; }

@media (max-width: 767.98px) {
  #content1, #content21, #content22, #content23, #content24, #content3 {
    height: 125vh; }
    #content1 .arti, #content21 .arti, #content22 .arti, #content23 .arti, #content24 .arti, #content3 .arti {
      font-size: 15px; } }

@media (max-width: 575.98px) {
  #content1, #content21, #content22, #content23, #content24, #content3 {
    height: 150vh; }
    #content1 .arti, #content21 .arti, #content22 .arti, #content23 .arti, #content24 .arti, #content3 .arti {
      font-size: 15px; }
  .redes {
    padding-top: 20px;
    padding-right: 1.5rem; }
    .redes i {
      font-size: 20px;
      padding-right: 0.2em; }
  .pie .lumarc {
    padding-top: 20px;
    padding-left: 1.5rem;
    font-size: 11px; } }
