html {
  scroll-behavior: smooth; }

body {
  font-family: 'Montserrat', sans-serif; }

h1, h5 {
  font-weight: bold; }

nav img {
  height: 27px; }

#mynavbar {
  opacity: 0;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in; }

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8) !important; }

a.bg-dark:focus, a.bg-dark:hover {
  background-color: black !important;
  color: rgba(255, 255, 255, 0.9); }

.nav-item:hover {
  background-color: black !important; }

.bg-dark, .dropdown-item {
  background-color: black !important;
  color: rgba(255, 255, 255, 0.8) !important; }

.dropdown-item:hover {
  color: rgba(255, 255, 255, 0.9) !important; }

.navbar-dark:hover .navbar-nav:hover .nav-link:hover {
  color: rgba(255, 255, 255, 0.9) !important; }

a:hover {
  cursor: pointer; }

.header {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-size: cover;
  -webkit-transition: all 2s ease-in;
  -moz-transition: all 2s ease-in;
  -o-transition: all 2s ease-in;
  -ms-transition: all 2s ease-in;
  transition: all 2s ease-in;
  transition-delay: 3s;
  background-blend-mode: darken; }
  .header img {
    padding-top: 40vh; }

.header.load {
  background: rgba(0, 0, 0, 0.2) url(../images/background-2.jpg); }

#mynavbar.load {
  opacity: 1; }

#logo img {
  opacity: 0;
  margin-top: 25px;
  font-size: 21px;
  text-align: center;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in; }

#logo img.load {
  opacity: 1; }

section {
  padding-top: 60px;
  padding-bottom: 60px; }
  section h1 {
    padding-bottom: 60px; }
  section p {
    padding-bottom: 10px; }
  section .fab {
    font-size: 35px;
    margin-right: 10px; }
  section .fa-instagram {
    color: #8a3ab9; }
  section .fa-facebook {
    color: #3b5998; }
  section .fa-linkedin {
    color: #0077B5; }

.parallax-window {
  position: relative !important;
  min-height: 400px;
  background-size: cover !important;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat; }

.col-md-6 {
  text-align: center;
  margin-bottom: 30px; }
  .col-md-6 img {
    height: 400px;
    margin-bottom: 10px;
    vertical-align: middle; }
  .col-md-6 h5 {
    margin-bottom: 15px; }

.text {
  margin-bottom: 60px; }

.parallax {
  background-size: cover !important;
  height: 400px; }

.nosotros {
  background: url(../images/nosotros.jpg);
  background-position: center; }

.marcos {
  background: url(../images/marcos.jpg); }

.cristales {
  background: url(../images/cristales.jpg);
  background-position: center; }

.aluminios {
  background: url(../images/aluminios.jpg);
  background-position: center; }

.persianas {
  background: url(../images/persianas.jpg);
  background-position: bottom; }

.servicios {
  background: url(../images/servicios.jpg);
  background-position: center; }

#proyectos .instaimg img {
  margin-bottom: 30px;
  transition: .3s; }
#proyectos .instaimg img:hover {
  opacity: 0.8;
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
  transition: .3s; }
@media screen and (max-width: 991.98px) {
  #proyectos .instaimg {
    width: 50% !important; } }
@media screen and (max-width: 575.98px) {
  #proyectos .instaimg {
    width: 100% !important; } }

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  position: center; }
  .swiper-container p {
    color: white;
    bottom: 0;
    margin-bottom: 0; }
  .swiper-container strong {
    color: white;
    bottom: 0; }

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: flex-end;
  justify-content: center; }

#map {
  width: 100%;
  height: 400px; }

@media (max-width: 768px) {
  .right {
    padding-bottom: 25px;
    text-align: center !important; }

  .left {
    text-align: center !important; } }
footer {
  min-height: 70px; }
  footer a {
    color: white; }
  footer .row {
    width: 100%; }
  footer .col-md {
    text-align: center; }
  footer .left {
    padding-top: 25px;
    text-align: left; }
  footer .right {
    padding-top: 25px;
    text-align: right; }
  footer p {
    margin-bottom: 0px;
    color: white; }
  footer .fa-envelope, footer .fa-instagram, footer .fa-facebook {
    padding-right: 10px; }
  footer .fa-envelope, footer .fa-instagram, footer .fa-facebook, footer .fa-linkedin {
    font-size: 23px; }

.avisoLegal {
  padding-top: 80px; }
  .avisoLegal h5 {
    padding-bottom: 20px;
    padding-top: 30px; }
  .avisoLegal p {
    margin-bottom: 5px; }

/*# sourceMappingURL=styles.css.map */
