@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('animations.css');

@mixin sections {
  position: relative;
  overflow: hidden;
  height: 60vw;
  background-size: cover;
  .title {
    position: absolute;
    top: 5vw;
    left: 10vw;
    color: white;
    font-size: 8vw;
    font-weight: bold;
  }
  .subtitle {
    position: absolute;
    font-size: 1.7vw;
    width: 80vw;
    color: white;
    bottom: 10vw;
    right: 5vw;
  }
}

#logo {
  height: 25px;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: black;
}

fieldset, img {
  border: 0;
}

#content0 {
  position: relative;
  overflow: hidden;
  height: 52vw;
  background: url("../images/shop-0.JPG") no-repeat center center fixed;
  background-size: cover;
  -webkit-animation: fadein 5s 1; /* Safari 4+ */
  -moz-animation:    fadein 5s 1; /* Fx 5+ */
  -o-animation:      fadein 5s 1; /* Opera 12+ */
  animation:         fadein 5s 1; /* IE 10+, Fx 29+ */

  .title {
    width: 40vw;
    position: absolute;
    right: -40vw;
    bottom: 10vw;
    -webkit-animation: slide-left 0.5s forwards;
    -webkit-animation-delay: 3s;
    animation: slide-left 2s forwards;
    animation-delay: 3s;
  }

  .subtitle {
    width: 25vw;
    font-size: 2vw;
    position: absolute;
     bottom: 5vw;
     right: -40vw;
     color: white;
     -webkit-animation: slide-left-2 0.5s forwards;
     -webkit-animation-delay: 3.3s;
     animation: slide-left 2s forwards;
     animation-delay: 3s;
  }
}

#content1 {
  background: url("../images/shop-nosotros.JPG") no-repeat center center fixed;
  @include sections;
}

#content21 {
  background: url("../images/shop-2.jpg") no-repeat center center fixed;
  @include sections;
}

#content22 {
  background: url("../images/shop-3.jpg") no-repeat center center fixed;
  @include sections;
}

#content23 {
  background: url("../images/shop-4.jpg") no-repeat center center fixed;
  @include sections;
}

#content3 {
  background: url("../images/shop-5.jpg") no-repeat center center fixed;
  @include sections;
}

#content4 {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 52vw;
  background: url("../images/cambrils.JPG") no-repeat center center fixed;
  background-size: cover;
  .title {
    position: absolute;
    top: 5vw;
    left: 10vw;
    color: white;
    font-size: 8vw;
    font-weight: bold;
  }
  .subtitle {
    position: absolute;
    font-size: 1.7vw;
    width: 42vw;
    color: white;
    bottom: 10vw;
    right: 4vw;
  }
  #map {
    position: absolute;
    width: 42vw;
    height: 27vw;
    top: 18vw;
    left: 7vw;
  }
}
